<div class="container">
    <page-header [title]="vm.title"></page-header>
    <div class="box-white">
        <mat-tab-group>
            <mat-tab label="Info">
                <brand-one-edit
                    [item]="vm.item"
                    (submit)="onSubmit()"
                ></brand-one-edit>
            </mat-tab>

            <mat-tab label="Opciones">
                <div class="row mt-3">
                    <div class="col-6">
                        <ul class="list-group">
                            <li
                                (click)="actionForOption(option)"
                                class="list-group-item list-group-item-action pointer"
                                *ngFor="let option of vm.options"
                            >
                                {{ option.name }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>Creado</strong>: {{ vm.item.created!
                                    | dateToTimeAgo | titlecase }}
                                </p>
                                <hr />
                                <p class="card-text">
                                    <strong>Actualizado</strong>: {{
                                    vm.item.updated! | dateToTimeAgo | titlecase
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Imagen">
                <add-image
                    [id]="vm.id"
                    [image]="vm.item.image!"
                    [type]="'brand'"
                ></add-image>
            </mat-tab>

            <mat-tab label="Coches">
                <custom-table [options]="vm.carsOptionsTable"></custom-table>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
