<div class="container">
    <breadcrumb></breadcrumb>
    <div class="box-white">
        <custom-title-with-buttons
            [options]="vm.optionsTitle"
        ></custom-title-with-buttons>
        <div class="row">
            <div class="col-6">
                <input
                    class="form-control from-control-sm"
                    name="month"
                    [(ngModel)]="vm.logsBody.month"
                    (change)="onChangeMonth()"
                />
            </div>
            <div class="col-6">
                <input
                    class="form-control from-control-sm"
                    name="year"
                    [(ngModel)]="vm.logsBody.year"
                    (change)="onChangeYear()"
                />
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <!-- METHODS -->
            <div class="col col-lg-6">
                <h3>Metodos</h3>
                <hr />
                <chart-bar
                    *ngIf="!vm.optionsMethods.loading"
                    [data]="vm.optionsMethods"
                ></chart-bar>
            </div>
            <!-- ROLES -->
            <div class="col-12 col-lg-6">
                <h3>Roles</h3>
                <hr />
                <chart-bar
                    *ngIf="!vm.optionsRoles.loading"
                    [data]="vm.optionsRoles"
                ></chart-bar>
            </div>
            <!-- DAYS -->
            <div class="col-12 col-lg-12 mt-5">
                <h3>Peticiones por dia</h3>
                <hr />
                <chart-bar
                    *ngIf="!vm.optionsDays.loading"
                    [data]="vm.optionsDays"
                ></chart-bar>
            </div>
            <!-- URLS -->
            <div class="col-12 col-lg-12 mt-5">
                <h3>Top Urls</h3>
                <hr />
                <div class="table-responsive py-1">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>URL</th>
                                <th>Metodo</th>
                                <th>Rol</th>
                                <th>Peticiones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let url of vm.urls">
                                <td>{{url.name}}</td>
                                <td>{{url.method}}</td>
                                <td>
                                    {{url.role !== '' ? url.role : 'NO_ROLE'}}
                                </td>
                                <td>{{url.count}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
