.wrapper {
    margin-top: 1rem;
    padding: 1rem;
}

h1 {
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.input-full-width {
    width: 100%;
}
