<div class="container">
    <page-header [title]="vm.title"></page-header>

    <mat-card class="mat-card-wrapper">
        <mat-tab-group>
            <mat-tab label="Issues">
                <custom-table
                    [options]="vm.issuesOptionsTable"
                    (rowClick)="openLink($event)"
                >
                </custom-table>
            </mat-tab>

            <mat-tab label="Nuevo">
                <github-issue-add></github-issue-add>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
