<div class="container">
    <div class="box-white">
        <custom-title-with-buttons
            [options]="vm.optionsTitle"
        ></custom-title-with-buttons>
        <segments *ngIf="vm.edit" [options]="vm.optionsSegments"></segments>

        <div class="mb-3" *ngIf="vm.optionsSegments.currentSegment === 0">
            <div class="row mt-1 g-3" *ngIf="vm.item">
                <div class="col-sm-6">
                    <div class="form-floating">
                        <select
                            class="form-control"
                            name="user"
                            [(ngModel)]="vm.userIdSelected"
                            required
                        >
                            <option
                                *ngFor="let user of vm.users"
                                [value]="user._id"
                            >
                                {{user.name}}
                            </option>
                        </select>
                        <label for="floatingInput" class="form-label"
                            >Usuario</label
                        >
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-floating">
                        <select
                            class="form-control"
                            name="brand"
                            [(ngModel)]="vm.brandIdSelected"
                            required
                        >
                            <option
                                *ngFor="let brand of vm.brands"
                                [value]="brand._id"
                            >
                                {{brand.name}}
                            </option>
                        </select>
                        <label for="floatingInput" class="form-label"
                            >Marca</label
                        >
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-floating">
                        <input
                            class="form-control"
                            name="name"
                            [(ngModel)]="vm.item.model"
                            placeholder="Nombre"
                            required
                        />
                        <label for="floatingInput" class="form-label"
                            >Modelo</label
                        >
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-floating">
                        <select class="form-select" [(ngModel)]="vm.item.fuel">
                            <option>Gasolina</option>
                            <option>Diesel</option>
                            <option>Hibrido</option>
                            <option>Diesel</option>
                        </select>
                        <label for="floatingInput" class="form-label"
                            >Combustible</label
                        >
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-floating">
                        <select
                            class="form-select"
                            [(ngModel)]="vm.item.traction"
                        >
                            <option>Delantera</option>
                            <option>Trasera</option>
                            <option>4x4</option>
                        </select>
                        <label for="floatingInput" class="form-label"
                            >Traccion</label
                        >
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-floating">
                        <input
                            class="form-control"
                            type="number"
                            name="name"
                            [(ngModel)]="vm.item.cc"
                            placeholder="cc"
                            required
                        />
                        <label for="floatingInput" class="form-label">CC</label>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-floating">
                        <input
                            class="form-control"
                            type="number"
                            name="name"
                            [(ngModel)]="vm.item.cv"
                            placeholder="cv"
                            required
                        />
                        <label for="floatingInput" class="form-label">CV</label>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-floating">
                        <select class="form-select" [(ngModel)]="vm.stock">
                            <option [value]="true">Si</option>
                            <option [value]="false">No</option>
                        </select>
                        <label for="floatingInput" class="form-label"
                            >De serie</label
                        >
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-floating">
                        <input
                            class="form-control"
                            type="number"
                            name="name"
                            [(ngModel)]="vm.item.year"
                            placeholder="year"
                            required
                        />
                        <label for="floatingInput" class="form-label"
                            >Año</label
                        >
                    </div>
                </div>

                <hr class="my-4" />

                <button
                    class="w-100 btn btn-primary btn-lg"
                    (click)="onSubmit()"
                >
                    Guardar
                </button>
            </div>
        </div>

        <ng-container *ngIf="vm.optionsSegments.currentSegment === 1">
            <div class="row mt-3">
                <div class="col-6">
                    <ul class="list-group">
                        <li
                            (click)="actionForOption(option)"
                            class="list-group-item list-group-item-action pointer"
                            *ngFor="let option of vm.options"
                        >
                            {{ option.name }}
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>Creado</strong>: {{ vm.item.created! |
                                dateToTimeAgo | titlecase }}
                            </p>
                            <hr />
                            <p class="card-text">
                                <strong>Actualizado</strong>: {{
                                vm.item.updated! | dateToTimeAgo | titlecase }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="vm.optionsSegments.currentSegment === 2">
            <add-image
                [id]="vm.id"
                [image]="vm.item.image!"
                [type]="'car'"
            ></add-image>
        </ng-container>

        <ng-container *ngIf="vm.optionsSegments.currentSegment === 3">
            <custom-table
                [options]="vm.inscriptionsOptionsTable"
            ></custom-table>
        </ng-container>

        <ng-container *ngIf="vm.optionsSegments.currentSegment === 4">
            <add-inscription
                [carId]="vm.id"
                (onInscription)="onInscription()"
            ></add-inscription>
        </ng-container>

        <ng-container *ngIf="vm.optionsSegments.currentSegment === 5">
            <custom-table [options]="vm.votesOptionsTable"></custom-table>
        </ng-container>

        <ng-container *ngIf="vm.optionsSegments.currentSegment === 6">
            <custom-table [options]="vm.winnersOptionsTable"></custom-table>
        </ng-container>

        <ng-container *ngIf="vm.optionsSegments.currentSegment === 7">
            <custom-table
                [options]="vm.likesReceivedOptionsTable"
            ></custom-table>
        </ng-container>
    </div>
</div>
