.row {
    margin: 0.25rem 0.5rem;
}
.col-md-3 {
    padding: 0.5rem;
}

.last-tournaments-item {
    height: 120px;
    border-radius: 10px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    margin: 0 0.5rem;
    cursor: pointer;

    .title,
    .date {
        position: absolute;

        color: #fff;
    }

    .title {
        bottom: 1.5rem;
        text-transform: uppercase;
        font-weight: 800;
    }

    .date {
        bottom: 0rem;
        color: #fff;
    }
}
