<div class="w-full h-full" fxLayout="row wrap">
    <mat-card class="mat-elevation-z4 m-auto" style="max-width: 380px">
        <mat-card-title class="text-center m-b-24">
            <img
                src="./assets/images/logo.png"
                width="150"
                alt="CarsTournaments"
            />
        </mat-card-title>

        <form class="form-field-full" [formGroup]="loginForm">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                    matInput
                    placeholder="Email"
                    formControlName="email"
                    required
                />
                <mat-error *ngIf="email?.invalid">
                    <span *ngIf="email?.errors?.required">
                        Introduce un email
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input
                    matInput
                    placeholder="password"
                    type="password"
                    formControlName="password"
                    required
                />
                <mat-error *ngIf="password?.invalid">
                    <span *ngIf="password?.errors?.required"> Entrar </span>

                    <span *ngIf="password?.errors?.remote">
                        {{ password?.errors?.remote }}
                    </span>
                </mat-error>
            </mat-form-field>

            <button
                class="w-full bg-red-800 text-white"
                mat-raised-button
                [disabled]="!!loginForm?.invalid"
                (click)="login()"
            >
                Entrar
            </button>
        </form>
    </mat-card>
</div>
