<!-- <main class="form-signin">
    <div class="text-center mb-4">
        <img src="assets/images/logo.png" alt="" width="250" height="250" />
    </div>

    <form>
        <div class="form-floating">
            <input
                type="email"
                class="form-control"
                [(ngModel)]="vm.email"
                name="email"
                placeholder="Email"
            />
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
            <input
                type="password"
                class="form-control"
                [(ngModel)]="vm.password"
                name="password"
                placeholder="Password"
                autocomplete="on"
            />
            <label for=" floatingPassword">Contraseña</label>
        </div>
    </form>

    <button
        class="w-100 btn btn-lg btn-primary"
        type="submit"
        (click)="onSubmit()"
    >
        Entrar
    </button>
</main> -->

<div class="w-full h-full" fxLayout="row wrap">
    <mat-card class="mat-elevation-z4 m-auto" style="max-width: 380px">
        <mat-card-title class="text-center m-b-24">
            <img src="./assets/images/logo.png" width="150" />
        </mat-card-title>

        <form class="form-field-full" [formGroup]="loginForm">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                    matInput
                    placeholder="ng-matero"
                    formControlName="email"
                    required
                />
                <mat-error *ngIf="email?.invalid">
                    <span *ngIf="email?.errors?.required">
                        {{ 'login.please_enter' }}
                    </span>

                    <span *ngIf="email?.errors?.remote">
                        {{ email?.errors?.remote }}
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input
                    matInput
                    placeholder="ng-matero"
                    type="password"
                    formControlName="password"
                    required
                />
                <mat-error *ngIf="password?.invalid">
                    <span *ngIf="password?.errors?.required">
                        Entrar <strong>ng-matero</strong>
                    </span>

                    <span *ngIf="password?.errors?.remote">
                        {{ password?.errors?.remote }}
                    </span>
                </mat-error>
            </mat-form-field>

            <button
                class="w-full bg-red-800 text-white"
                mat-raised-button
                [disabled]="!!loginForm?.invalid"
                (click)="login()"
            >
                Entrar
            </button>
        </form>
    </mat-card>
</div>
