@use 'variables';
@use 'badge' as *;
@use 'scrollbar' as *;

.matero-row {
    margin-right: variables.$gutter * -0.5;
    margin-left: variables.$gutter * -0.5;
}

.matero-col {
    padding-right: variables.$gutter * 0.5;
    padding-left: variables.$gutter * 0.5;
}

.badge {
    @include badge();
}

.scrollbar-thin {
    @include scrollbar-thin();
}

.scrollbar-none {
    @include scrollbar-none();
}
