<mat-card *ngIf="optionsChart">
    <mat-card-subtitle
        >Trafico
        <mat-select
            placeholder="Selecciona"
            name="dateSelected"
            [(ngModel)]="dateSelected"
            (selectionChange)="onChangeSelect()"
        >
            <mat-option [value]="date.value" *ngFor="let date of dataDate">{{
                date.name
            }}</mat-option>
        </mat-select>
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <chart-bar *ngIf="!optionsChart.loading" [data]="optionsChart"></chart-bar>
</mat-card>
