<div class="container">
    <page-header [title]="vm.title"></page-header>

    <div class="mat-card-wrapper p-x-8 p-b-0">
        <div fxLayout="row wrap" class="matero-row">
            <mat-card
                fxFlex.gt-sm
                fxFlex
                class="matero-col item mat-elevation-z4 m-4"
                *ngFor="let item of vm.totals"
            >
                <h2 class="text-center" [ngStyle]="{color: item.color}">
                    {{ item.name | uppercase }}
                </h2>
                <p class="text-center m-t--16" style="font-weight: 600">
                    {{ item.value }}
                </p>
            </mat-card>
        </div>
    </div>

    <mat-card class="mat-card-wrapper m-t-16">
        <mat-tab-group>
            <mat-tab label="Listado">
                <custom-table [options]="vm.optionsTable"> </custom-table>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
