<navbar></navbar>
<custom-menu [itemSelected]="2"></custom-menu>
<div class="container">
  <div class="box-white">
    <custom-title-with-buttons
      [options]="vm.optionsTitle"
    ></custom-title-with-buttons>
    <segments *ngIf="vm.edit" [options]="vm.optionsSegments"></segments>

    <div class="mb-3" *ngIf="vm.optionsSegments.currentSegment === 0">
      <div class="row mt-1 g-3" *ngIf="vm.item">
        <div class="col-sm-6">
          <div class="form-floating">
            <input
              class="form-control"
              name="name"
              [(ngModel)]="vm.item.name"
              placeholder="Nombre"
              required
            />
            <label for="floatingInput" class="form-label">Nombre</label>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-floating">
            <input
              class="form-control"
              type="date"
              name="name"
              [(ngModel)]="vm.item.startDate"
              placeholder="Nombre"
              required
            />
            <label for="floatingInput" class="form-label">
              Fecha de inicio
            </label>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-floating">
            <input
              class="form-control"
              type="number"
              name="name"
              [(ngModel)]="vm.item.durationDays"
              placeholder="Duracion"
              required
            />
            <label for="floatingInput" class="form-label"
              >Duracion (dias)</label
            >
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-floating">
            <input
              class="form-control"
              type="number"
              name="name"
              [(ngModel)]="vm.item.maxParticipants"
              placeholder="Nombre"
              required
            />
            <label for="floatingInput" class="form-label">
              Participantes Maximos
            </label>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-floating">
            <select class="form-select" [(ngModel)]="vm.item.status">
              <option value="Todo">Sin empezar</option>
              <option value="InProgress">En progreso</option>
              <option value="Completed">Completado</option>
              <option value="Canceled">Cancelado</option>
            </select>
            <label for="floatingInput" class="form-label">Estado</label>
          </div>
        </div>

        <hr class="my-4" />
        <h4>Requisitos</h4>
        <div class="row">
          <div class="col-sm-9">
            <select class="form-control" [(ngModel)]="vm.requisiteSelected">
              <option *ngFor="let requisite of vm.requisitesDefault">
                {{ requisite.name }}
              </option>
            </select>
          </div>
          <div class="col-sm-3">
            <button
              class="btn btn-primary btn-sm w-100"
              (click)="addRequisite()"
            >
              Añadir requisito
            </button>
          </div>
        </div>

        <ul class="list-group mt-3">
          <li
            class="list-group-item m-2"
            *ngFor="let requisite of vm.item.requisites"
          >
            {{ requisite.name }}
            <button
              class="btn btn-dark btn-sm float-right"
              style="float: right"
              (click)="deleteRequisite(requisite)"
            >
              Eliminar
            </button>
          </li>
        </ul>
      </div>

      <hr class="my-4" />

      <button class="w-100 btn btn-primary btn-lg" (click)="onSubmit()">
        Guardar
      </button>
    </div>

    <ng-container *ngIf="vm.optionsSegments.currentSegment === 1">
      <div class="row mt-3">
        <div class="col-6">
          <options-list
            [options]="vm.options"
            (action)="actionForOption($event)"
          ></options-list>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <p class="card-text">
                <strong>Creado</strong>: {{ vm.item.created! | dateToTimeAgo |
                titlecase }}
              </p>
              <hr />
              <p class="card-text">
                <strong>Actualizado</strong>: {{ vm.item.updated! |
                dateToTimeAgo | titlecase }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="vm.optionsSegments.currentSegment === 2">
      <add-image
        [id]="vm.id"
        [image]="vm.item.image"
        [type]="'tournament'"
      ></add-image>
    </ng-container>

    <ng-container *ngIf="vm.optionsSegments.currentSegment === 3">
      <custom-table
        (deleteItem)="onDeleteInscription($event)"
        [options]="vm.inscriptionsOptionsTable"
      ></custom-table>
    </ng-container>

    <ng-container *ngIf="vm.optionsSegments.currentSegment === 4">
      <custom-table [options]="vm.roundsOptionsTable"></custom-table>
    </ng-container>

    <ng-container *ngIf="vm.optionsSegments.currentSegment === 5">
      <custom-table [options]="vm.pairingsOptionsTable"></custom-table>
    </ng-container>
    <ng-container *ngIf="vm.optionsSegments.currentSegment === 6">
      <custom-table [options]="vm.votesOptionsTable"></custom-table>
    </ng-container>
  </div>
</div>
