<div class="container">
    <div class="box-white">
        <custom-title-with-buttons
            [options]="vm.optionsTitle"
        ></custom-title-with-buttons>

        <mat-tab-group>
            <mat-tab label="Info">
                <tournament-one-edit
                    *ngIf="vm.item"
                    [item]="vm.item"
                    [disabledItems]="vm.disabledItems"
                    [edit]="vm.edit"
                    [requisiteSelected]="vm.requisiteSelected"
                    [requisitesDefault]="vm.requisitesDefault"
                    [dateTime]="{
                        startDate: vm.startDate,
                        endDate: vm.endDate,
                        startTime: vm.startTime,
                        endTime: vm.endTime
                    }"
                    (addRequisite)="addRequisite()"
                    (deleteRequisite)="deleteRequisite($event)"
                    (submit)="onSubmit()"
                ></tournament-one-edit>
            </mat-tab>

            <mat-tab label="Opciones">
                <div class="row mt-3">
                    <div class="col-6">
                        <options-list
                            [options]="vm.options"
                            (action)="actionForOption($event)"
                        ></options-list>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>Creado</strong>: {{ vm.item.created!
                                    | dateToTimeAgo | titlecase }}
                                </p>
                                <hr />
                                <p class="card-text">
                                    <strong>Actualizado</strong>: {{
                                    vm.item.updated! | dateToTimeAgo | titlecase
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Imagen">
                <add-image
                    [id]="vm.id"
                    [image]="vm.item.image"
                    [type]="'tournament'"
                ></add-image>
            </mat-tab>

            <mat-tab label="Inscripciones">
                <custom-table
                    (deleteItem)="onDeleteInscription($event)"
                    [options]="vm.inscriptionsOptionsTable"
                >
                </custom-table>
            </mat-tab>

            <mat-tab label="Rondas">
                <custom-table [options]="vm.roundsOptionsTable"></custom-table>
            </mat-tab>

            <mat-tab label="Emparejamientos">
                <custom-table
                    [options]="vm.pairingsOptionsTable"
                ></custom-table>
            </mat-tab>

            <mat-tab label="Votos">
                <custom-table [options]="vm.votesOptionsTable"></custom-table>
            </mat-tab>

            <mat-tab label="Ganadores">
                <custom-table [options]="vm.winnersOptionsTable"></custom-table>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
