<navbar></navbar>
<custom-menu [itemSelected]="2"></custom-menu>
<div class="container">
    <div class="box-white">
        <custom-title-with-buttons
            [options]="vm.optionsTitle"
        ></custom-title-with-buttons>
        <segments *ngIf="vm.edit" [options]="vm.optionsSegments"></segments>

        <div class="mb-3" *ngIf="vm.optionsSegments.currentSegment === 0">
            <div class="row mt-1 g-3" *ngIf="vm.item">
                <!-- Banner to status -->
                <div
                    class="col-12 col-md-12 banner-status animate__animated animate__fadeIn"
                    *ngIf="vm.edit && !vm.roundsOptionsTable.loading && vm.item.status"
                >
                    <div class="card banner-{{vm.item.status}}">
                        <div class="card-body">
                            <h1
                                class="card-title animate__animated animate__fadeIn"
                            >
                                <span *ngIf="vm.item.status === 'InProgress'">
                                    {{ vm.item.status! | status }} - {{
                                    vm.roundsOptionsTable.items ?
                                    vm.roundsOptionsTable.items[0]?.name : ''}}
                                </span>
                                <span *ngIf="vm.item.status !== 'InProgress'"
                                    >{{ vm.item.status! | status }}</span
                                >
                            </h1>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-floating">
                        <input
                            class="form-control"
                            name="name"
                            [(ngModel)]="vm.item.name"
                            placeholder="Nombre"
                            required
                        />
                        <label for="floatingInput" class="form-label"
                            >Nombre</label
                        >
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-floating">
                        <input
                            class="form-control"
                            type="number"
                            name="name"
                            [(ngModel)]="vm.item.durationDays"
                            placeholder="Duracion"
                            required
                            [disabled]="vm.disabledItems"
                        />
                        <label for="floatingInput" class="form-label">
                            Duracion (dias)
                        </label>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-floating">
                        <input
                            class="form-control"
                            type="date"
                            name="name"
                            [(ngModel)]="vm.startDate"
                            placeholder="Nombre"
                            required
                            [disabled]="vm.disabledItems"
                        />
                        <label for="floatingInput" class="form-label">
                            Fecha de inicio
                        </label>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-floating">
                        <input
                            class="form-control"
                            type="time"
                            name="name"
                            [(ngModel)]="vm.startTime"
                            placeholder="Nombre"
                            required
                            [disabled]="vm.disabledItems"
                        />
                        <label for="floatingInput" class="form-label">
                            Hora de inicio
                        </label>
                    </div>
                </div>

                <div class="col-sm-3" *ngIf="vm.endDate">
                    <div class="form-floating">
                        <input
                            class="form-control"
                            type="date"
                            name="name"
                            [(ngModel)]="vm.endDate"
                            placeholder="Nombre"
                            required
                            [disabled]="vm.disabledItems"
                        />
                        <label for="floatingInput" class="form-label">
                            Fecha de fin
                        </label>
                    </div>
                </div>

                <div class="col-sm-3" *ngIf="vm.endTime">
                    <div class="form-floating">
                        <input
                            class="form-control"
                            type="time"
                            name="name"
                            [(ngModel)]="vm.endTime"
                            placeholder="Nombre"
                            required
                            [disabled]="vm.disabledItems"
                        />
                        <label for="floatingInput" class="form-label">
                            Hora de fin
                        </label>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-floating">
                        <select
                            class="form-select"
                            [(ngModel)]="vm.item.maxParticipants"
                            [disabled]="vm.disabledItems"
                        >
                            <option [value]="4">4 coches - 2 rondas</option>
                            <option [value]="8">8 coches - 4 rondas</option>
                            <option [value]="16">16 coches - 8 rondas</option>
                            <option [value]="32">32 coches - 16 rondas</option>
                            <option [value]="64">64 coches - 32 rondas</option>
                            <option [value]="128">
                                128 coches - 64 rondas
                            </option>
                        </select>
                        <label for="floatingInput" class="form-label">
                            Participantes Maximos
                        </label>
                    </div>
                </div>

                <div class="col-sm-6" *ngIf="!vm.edit">
                    <div class="form-floating">
                        <select
                            class="form-select"
                            [(ngModel)]="vm.item.status"
                            [disabled]="vm.disabledItems"
                        >
                            <option value="Todo">Sin empezar</option>
                            <option value="Cancelled">Cancelado</option>
                        </select>
                        <label for="floatingInput" class="form-label"
                            >Estado</label
                        >
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="">
                        <textarea
                            class="form-control"
                            name="name"
                            rows="5"
                            [(ngModel)]="vm.item.info"
                            placeholder="Info"
                            required
                        ></textarea>
                    </div>
                </div>

                <!-- TODO: Revisar -->
                <ng-container
                    *ngIf="!vm.edit || vm.edit && vm.item.requisites.length > 0 || vm.edit && vm.item.status === 'Todo'"
                >
                    <hr class="my-4" />
                    <h4>Requisitos</h4>
                    <div class="row">
                        <div class="col-sm-9">
                            <select
                                class="form-control"
                                [(ngModel)]="vm.requisiteSelected"
                                [disabled]="vm.disabledItems"
                            >
                                <option
                                    *ngFor="let requisite of vm.requisitesDefault"
                                >
                                    {{ requisite.name }}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <button
                                class="btn btn-primary btn-sm w-100"
                                (click)="addRequisite()"
                                [disabled]="vm.disabledItems"
                            >
                                Añadir requisito
                            </button>
                        </div>
                    </div>

                    <ul class="list-group mt-3">
                        <li
                            class="list-group-item m-2"
                            *ngFor="let requisite of vm.item.requisites"
                        >
                            {{ requisite.name }}
                            <button
                                class="btn btn-dark btn-sm float-right"
                                style="float: right"
                                (click)="deleteRequisite(requisite)"
                                [disabled]="vm.disabledItems"
                            >
                                Eliminar
                            </button>
                        </li>
                    </ul>
                </ng-container>
            </div>

            <hr class="my-4" />

            <button class="w-100 btn btn-primary btn-lg" (click)="onSubmit()">
                Guardar
            </button>
        </div>

        <ng-container *ngIf="vm.optionsSegments.currentSegment === 1">
            <div class="row mt-3">
                <div class="col-6">
                    <options-list
                        [options]="vm.options"
                        (action)="actionForOption($event)"
                    ></options-list>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>Creado</strong>: {{ vm.item.created! |
                                dateToTimeAgo | titlecase }}
                            </p>
                            <hr />
                            <p class="card-text">
                                <strong>Actualizado</strong>: {{
                                vm.item.updated! | dateToTimeAgo | titlecase }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="vm.optionsSegments.currentSegment === 2">
            <add-image
                [id]="vm.id"
                [image]="vm.item.image"
                [type]="'tournament'"
            ></add-image>
        </ng-container>

        <ng-container *ngIf="vm.optionsSegments.currentSegment === 3">
            <custom-table
                (deleteItem)="onDeleteInscription($event)"
                [options]="vm.inscriptionsOptionsTable"
            >
            </custom-table>
        </ng-container>

        <ng-container *ngIf="vm.optionsSegments.currentSegment === 4">
            <custom-table [options]="vm.roundsOptionsTable"></custom-table>
        </ng-container>

        <ng-container *ngIf="vm.optionsSegments.currentSegment === 5">
            <custom-table [options]="vm.pairingsOptionsTable"></custom-table>
        </ng-container>
        <ng-container *ngIf="vm.optionsSegments.currentSegment === 6">
            <custom-table [options]="vm.votesOptionsTable"></custom-table>
        </ng-container>
    </div>
</div>
