<div class="container">
    <div class="box-white">
        <custom-title-with-buttons
            [options]="vm.optionsTitle"
        ></custom-title-with-buttons>

        <mat-tab-group>
            <mat-tab label="Listado">
                <custom-table
                    [options]="vm.optionsTable"
                    (changeOrder)="onChangeOrder($event)"
                    (changePage)="onChangePage()"
                    (deleteItem)="onDeleteItem($event)"
                >
                </custom-table>
            </mat-tab>

            <mat-tab label="Opciones">
                <ul class="list-group mt-3">
                    <li
                        (click)="actionForOption(option)"
                        class="list-group-item list-group-item-action pointer"
                        *ngFor="let option of vm.options"
                    >
                        {{ option.name }}
                    </li>
                </ul>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
