<h2 matDialogTitle>{{ localData.title }}</h2>
<mat-dialog-content>
    <p *ngIf="!data.type">{{ localData.message }}</p>

    <mat-form-field appearance="outline" *ngIf="data.type">
        <input
            matInput
            name="name"
            [type]="localData.type"
            [(ngModel)]="localData.value"
            required
        />
        <mat-label>{{ localData.message }}</mat-label>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button
        mat-button
        *ngFor="let button of localData.buttons"
        (click)="clickButton(button.role)"
        [color]="button.role === 'cancel' ? 'dang' : 'success'"
    >
        {{ button.text }}
    </button>
</mat-dialog-actions>
