<h2 matDialogTitle>{{ localData.title }}</h2>
<mat-dialog-content>
    <p>{{ localData.message }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <!--
    Note that you can pass in anything to the `matDialogClose` attribute. This also includes objects, arrays, etc.
    Just make sure that you make it a property binding with those [] brackets
    Example: <button mat-button [matDialogClose]="{'lol': true}">Cancel</button>
  -->
    <button
        mat-button
        *ngFor="let button of localData.buttons"
        (click)="clickButton(button.role)"
        [color]="button.role === 'cancel' ? 'dang' : 'success'"
    >
        {{ button.text }}
    </button>
    <!-- <button mat-button matDialogClose="confirm" color="warn">Unregister</button> -->
</mat-dialog-actions>
