<mat-card class="mat-card-wrapper" *ngIf="!vm.loading">
    <mat-card-subtitle>
        Visitas por pais
        <mat-select
            class="float-right-absolute text-right"
            placeholder="Selecciona"
            name="dateSelected"
            [(ngModel)]="vm.dateSelected"
            (selectionChange)="onChangeSelect()"
        >
            <mat-option [value]="date.value" *ngFor="let date of vm.dataDate">
                {{ date.name }}
            </mat-option>
        </mat-select>
    </mat-card-subtitle>
    <mat-divider></mat-divider>

    <highcharts-chart
        id="container"
        [Highcharts]="Highcharts"
        [constructorType]="vm.chartConstructor"
        [callbackFunction]="chartCallback"
        [options]="vm.chartOptions"
        [(update)]="vm.updateFlag"
        class="chart"
    >
    </highcharts-chart>

    <div class="item-wrapper">
        <div class="item-div" *ngFor="let item of vm.values">
            <img [src]="vm.flags[item.name]" alt="" />
            <p class="item-p">
                {{ item.value }}
            </p>
        </div>
    </div>
</mat-card>
