<div class="container">
    <page-header [title]="vm.title"></page-header>
    <div class="box-white">
        <mat-tab-group>
            <mat-tab label="Info">
                <tournament-one-edit
                    *ngIf="vm.item"
                    [item]="vm.item"
                    [disabledItems]="vm.disabledItems"
                    [edit]="vm.edit"
                    [requisiteSelected]="vm.requisiteSelected"
                    [requisitesDefault]="vm.requisitesDefault"
                    [dateTime]="{
                        startDate: vm.startDate,
                        endDate: vm.endDate,
                        startTime: vm.startTime,
                        endTime: vm.endTime
                    }"
                    (addRequisite)="addRequisite()"
                    (deleteRequisite)="deleteRequisite($event)"
                    (submit)="onSubmit()"
                ></tournament-one-edit>
            </mat-tab>

            <mat-tab label="Opciones">
                <options-list
                    [options]="vm.options"
                    [item]="vm.item"
                    (action)="actionForOption($event)"
                ></options-list>
            </mat-tab>

            <mat-tab label="Imagen">
                <add-image
                    [id]="vm.id"
                    [image]="vm.item.image"
                    [type]="'tournament'"
                ></add-image>
            </mat-tab>

            <mat-tab label="Inscripciones">
                <custom-table2
                    (rowClick)="onRowClickInscription($event)"
                    [options]="vm.inscriptionsOptionsTable"
                >
                </custom-table2>
            </mat-tab>

            <mat-tab label="Rondas">
                <custom-table2
                    [options]="vm.roundsOptionsTable"
                ></custom-table2>
            </mat-tab>

            <mat-tab label="Emparejamientos">
                <custom-table2
                    [options]="vm.pairingsOptionsTable"
                ></custom-table2>
            </mat-tab>

            <mat-tab label="Votos">
                <custom-table2 [options]="vm.votesOptionsTable"></custom-table2>
            </mat-tab>

            <mat-tab label="Ganadores">
                <custom-table2
                    [options]="vm.winnersOptionsTable"
                ></custom-table2>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
