<!-- <stats-resume></stats-resume> -->

<div class="container">
    <div class="row">
        <div class="col-12 col-md-9">
            <analytics-visits-last-days></analytics-visits-last-days>

            <div class="box-white">
                <custom-title-with-buttons
                    [options]="vm.tournamentsOptionsTitle"
                ></custom-title-with-buttons>

                <dashboard-last-tournaments
                    *ngIf="vm.tournamentsOptionsTable.items"
                    [items]="vm.tournamentsOptionsTable.items"
                >
                </dashboard-last-tournaments>
            </div>
            <br />
            <div class="box-white">
                <custom-title-with-buttons
                    [options]="vm.carsOptionsTitle"
                ></custom-title-with-buttons>

                <dashboard-last-cars
                    *ngIf="vm.carsOptionsTable.items"
                    [items]="vm.carsOptionsTable.items"
                >
                </dashboard-last-cars>
            </div>
        </div>

        <div class="col-12 col-md-3">
            <dashboard-resume></dashboard-resume>
            <!-- <notification-send></notification-send> -->
        </div>
    </div>
</div>
