<div class="container">
    <stats-resume></stats-resume>
    <div fxLayout="row wrap" class="matero-row">
        <div [fxFlex.gt-sm]="70" [fxFlex]="100" class="matero-col">
            <world-map></world-map>
            <br />
            <dashboard-last-items> </dashboard-last-items>
        </div>
        <div [fxFlex.gt-sm]="30" [fxFlex]="100" class="matero-col">
            <!-- <dashboard-resume></dashboard-resume> -->
            <dashboard-actions></dashboard-actions>
            <br />
            <analytics-visits-last-days></analytics-visits-last-days>
        </div>
    </div>
</div>
