<div class="container">
    <stats-resume></stats-resume>
    <div fxLayout="row wrap" class="matero-row">
        <div [fxFlex.gt-sm]="80" [fxFlex]="100" class="matero-col">
            <analytics-visits-last-days></analytics-visits-last-days>

            <div class="box-white">
                <dashboard-last-tournaments
                    *ngIf="vm.tournamentsOptionsTable.items"
                    [items]="vm.tournamentsOptionsTable.items"
                >
                </dashboard-last-tournaments>
            </div>
            <br />
            <div class="box-white">
                <dashboard-last-cars
                    *ngIf="vm.carsOptionsTable.items"
                    [items]="vm.carsOptionsTable.items"
                >
                </dashboard-last-cars>
            </div>
        </div>

        <div [fxFlex.gt-sm]="20" [fxFlex]="100" class="matero-col">
            <dashboard-resume></dashboard-resume>
            <!-- <notification-send></notification-send> -->
        </div>
    </div>
</div>
