<navbar></navbar>
<custom-menu [itemSelected]="0"></custom-menu>

<!-- <stats-resume></stats-resume> -->

<div class="container">
  <div style="margin: 0.25rem; background: #fff; padding: 1rem">
    <custom-title-with-buttons
      [options]="vm.tournamentsOptionsTitle"
    ></custom-title-with-buttons>
    <custom-table [options]="vm.tournamentsOptionsTable"></custom-table>
  </div>
</div>

<div class="container">
  <div style="margin: 0.25rem; background: #fff; padding: 1rem">
    <custom-title-with-buttons
      [options]="vm.carsOptionsTitle"
    ></custom-title-with-buttons>
    <custom-table [options]="vm.carsOptionsTable"></custom-table>
  </div>
</div>
