.example-icon {
    padding: 0 14px;
}
.example-spacer {
    flex: 1 1 auto;
}

.title {
    text-align: center;
    width: 100%;
}

mat-sidenav {
    min-width: 220px !important;
}

.item {
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.item-state {
    position: absolute;
    right: 0.9rem;
    color: rgba(0, 0, 0, 0.12);
}

.subitem {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.icon-item-link {
    color: rgba(0, 0, 0, 0.12);
}

.item-link {
    position: absolute;
    right: 0.9rem;
    color: rgba(0, 0, 0, 0.12);
}
