<div class="container">
    <page-header [title]="vm.title"></page-header>
    <div class="box-white">
        <mat-tab-group>
            <mat-tab label="Info">
                <car-one-edit
                    [item]="vm.item"
                    [users]="vm.users"
                    [brands]="vm.brands"
                    [stock]="vm.stock"
                    [brandIdSelected]="vm.brandIdSelected"
                    [userIdSelected]="vm.userIdSelected"
                    (submit)="onSubmit()"
                >
                </car-one-edit>
            </mat-tab>

            <mat-tab label="Opciones">
                <div fxLayout="row wrap" class="matero-row">
                    <div [fxFlex.gt-sm]="50" [fxFlex]="100" class="matero-col">
                        <ul class="list-group">
                            <li
                                (click)="actionForOption(option)"
                                class="list-group-item list-group-item-action pointer"
                                *ngFor="let option of vm.options"
                            >
                                {{ option.name }}
                            </li>
                        </ul>
                    </div>
                    <div [fxFlex.gt-sm]="50" [fxFlex]="100" class="matero-col">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong>Creado</strong>: {{ vm.item.created!
                                    | dateToTimeAgo | titlecase }}
                                </p>
                                <hr />
                                <p class="card-text">
                                    <strong>Actualizado</strong>: {{
                                    vm.item.updated! | dateToTimeAgo | titlecase
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Imagen">
                <add-image
                    [id]="vm.id"
                    [image]="vm.item.image!"
                    [type]="'car'"
                ></add-image>
            </mat-tab>

            <mat-tab label="Inscripciones">
                <custom-table
                    [options]="vm.inscriptionsOptionsTable"
                ></custom-table>
            </mat-tab>

            <mat-tab label="Nueva inscripcion">
                <add-inscription
                    [carId]="vm.id"
                    (onInscription)="onInscription()"
                ></add-inscription>
            </mat-tab>

            <mat-tab label="Votos">
                <custom-table [options]="vm.votesOptionsTable"></custom-table>
            </mat-tab>

            <mat-tab label="Torneos ganados">
                <custom-table [options]="vm.winnersOptionsTable"></custom-table>
            </mat-tab>

            <mat-tab label="Likes recibidos">
                <custom-table
                    [options]="vm.likesReceivedOptionsTable"
                ></custom-table>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
