<div class="container">
    <breadcrumb></breadcrumb>
    <div class="box-white">
        <custom-title-with-buttons
            [options]="vm.optionsTitle"
        ></custom-title-with-buttons>
        <segments [options]="vm.optionsSegments"></segments>

        <div class="mb-3" *ngIf="vm.optionsSegments.currentSegment === 0">
            <div class="row mt-1 g-3" *ngIf="vm.item">
                <div class="col-sm-6">
                    <div class="form-floating">
                        <select
                            class="form-select"
                            [(ngModel)]="vm.item.tournament"
                        >
                            <option
                                *ngFor="let tournament of vm.tournaments"
                                [value]="tournament._id"
                            >
                                {{ tournament.name }}
                            </option>
                        </select>
                        <label for="floatingInput" class="form-label"
                            >Torneo</label
                        >
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-floating">
                        <select class="form-select" [(ngModel)]="vm.item.car">
                            <option
                                *ngFor="let car of vm.cars"
                                [value]="car._id"
                            >
                                {{ car.brand.name }}
                            </option>
                        </select>
                        <label for="floatingInput" class="form-label"
                            >Coche</label
                        >
                    </div>
                </div>

                <hr class="my-4" />

                <button
                    class="w-100 btn btn-primary btn-lg"
                    (click)="onSubmit()"
                >
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>
