<button
    class="matero-toolbar-button matero-avatar-button"
    mat-button
    [matMenuTriggerFor]="menu"
>
    <img
        class="matero-avatar"
        src="assets/images/logo.png"
        width="32"
        alt="avatar"
    />
    <span class="matero-username" fxHide.lt-sm>{{ user.name }}</span>
</button>

<mat-menu #menu="matMenu">
    <button routerLink="/settings" mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Configuracion</span>
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesion</span>
    </button>
</mat-menu>
