<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
>
    <h1>{{ options.title }}</h1>

    <ng-container *ngIf="options.buttons.length === 1">
        <button
            mat-raised-button
            color="primary"
            [routerLink]="options.buttons[0].link"
        >
            {{ options.buttons[0].name }}
        </button>
    </ng-container>

    <ng-container *ngIf="options.buttons.length > 1">
        <div class="btn-toolbar mb-2 mb-md-0">
            <mat-button-toggle-group
                color="primary"
                name="fontStyle"
                aria-label="Font Style"
            >
                <ng-container *ngFor="let option of options.buttons">
                    <mat-button-toggle [routerLink]="option.link">{{
                        option.name
                    }}</mat-button-toggle>
                </ng-container>
            </mat-button-toggle-group>
        </div>
    </ng-container>
</div>
