<div class="container">
    <div class="box-white">
        <custom-title-with-buttons
            [options]="vm.optionsTitle"
        ></custom-title-with-buttons>
        <segments [options]="vm.optionsSegments"></segments>

        <div class="mb-3" *ngIf="vm.optionsSegments.currentSegment === 0">
            <div class="row mt-1 g-3" *ngIf="vm.item">
                <div class="col-sm-12">
                    <div class="form-floating">
                        <select
                            class="form-control"
                            name="brand"
                            [(ngModel)]="vm.tournament"
                            required
                        >
                            <option
                                *ngFor="let tournament of vm.tournaments"
                                [value]="tournament._id"
                            >
                                {{ tournament.name }}
                            </option>
                        </select>
                        <label for="floatingInput" class="form-label"
                            >Torneo</label
                        >
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-floating">
                        <select
                            class="form-control"
                            name="brand"
                            [(ngModel)]="vm.gold"
                            required
                        >
                            <option
                                *ngFor="let car of vm.cars"
                                [value]="car._id"
                            >
                                {{ car.brand.name }} {{ car.model }} ({{
                                car.driver.name }})
                            </option>
                        </select>
                        <label for="floatingInput" class="form-label"
                            >Oro</label
                        >
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-floating">
                        <select
                            class="form-control"
                            name="brand"
                            [(ngModel)]="vm.silver"
                            required
                        >
                            <option
                                *ngFor="let car of vm.cars"
                                [value]="car._id"
                            >
                                {{ car.brand.name }} {{ car.model }} ({{
                                car.driver.name }})
                            </option>
                        </select>
                        <label for="floatingInput" class="form-label"
                            >Plata</label
                        >
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-floating">
                        <select
                            class="form-control"
                            name="brand"
                            [(ngModel)]="vm.bronze"
                            required
                        >
                            <option
                                *ngFor="let car of vm.cars"
                                [value]="car._id"
                            >
                                {{ car.brand.name }} {{ car.model }} ({{
                                car.driver.name }})
                            </option>
                        </select>
                        <label for="floatingInput" class="form-label"
                            >Bronce</label
                        >
                    </div>
                </div>

                <hr class="my-4" />

                <button
                    class="w-100 btn btn-primary btn-lg"
                    (click)="onSubmit()"
                >
                    Guardar
                </button>
            </div>
        </div>

        <ng-container *ngIf="vm.optionsSegments.currentSegment === 1">
            <div class="row mt-3">
                <div class="col-6">
                    <ul class="list-group">
                        <li
                            (click)="actionForOption(option)"
                            class="list-group-item list-group-item-action pointer"
                            *ngFor="let option of vm.options"
                        >
                            {{ option.name }}
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                                <strong>Creado</strong>: {{ vm.item.created! |
                                dateToTimeAgo | titlecase }}
                            </p>
                            <hr />
                            <p class="card-text">
                                <strong>Actualizado</strong>: {{
                                vm.item.updated! | dateToTimeAgo | titlecase }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
