<swiper [config]="slideOpts">
    <ng-template swiperSlide *ngFor="let item of items">
        <div
            class="box-white last-cars-item"
            style="background-image: linear-gradient(
                    rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url({{
                item?.image?.url! | image
            }}
                )"
            [routerLink]="['/cars/one', item._id]"
        >
            <p class="brand">{{ item.brand.name }} {{ item.model }}</p>
            <p class="model">{{ item.driver.name }}</p>
        </div>
    </ng-template>
</swiper>
