.row {
    margin: 0.25rem 0.5rem;
}
.col-md-3 {
    padding: 0.5rem;
}

.last-cars-item {
    height: 200px;
    border-radius: 10px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    margin: 0 0.5rem;
    cursor: pointer;

    .brand,
    .model {
        position: absolute;
        color: #fff;
        text-transform: uppercase;
        background: #000;
        padding: 0.5rem;
        left: 9px;
    }

    .brand {
        bottom: 2.5rem;
        font-weight: 800;
        margin: 0;
        max-width: calc(100% - 1.1rem);
        border-radius: 0px 10px 10px 0px;
    }

    .model {
        bottom: 0rem;
        color: #fff;
        margin: 0;
        overflow: hidden;
        border-radius: 0 10px;
    }
}
