<loading [isLoading]="options.loading"></loading>

<div class="table-responsive py-1" *ngIf="!options.loading">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th
          *ngFor="let item of vm.tableHeadItems[options.type]"
          [ngClass]="{ pointer: item.order !== null }"
          (click)="onChangeOrder(item.order)"
        >
          {{ item.name }}
        </th>
      </tr>
    </thead>
    <tbody *ngIf="options.items.length > 0">
      <ng-container>
        <!-- Brand -->
        <ng-container *ngIf="options.type === 'brand'">
          <tr class="pointer" *ngFor="let item of options.items">
            <td></td>
            <td [routerLink]="['/brands/one', item._id]">
              {{ item.name }}
            </td>
            <td>{{ item.country }}</td>
            <td>{{ item.continent }}</td>
            <td>{{ item.cars.length }}</td>
            <td>{{ item.updated | dateToTimeAgo | titlecase }}</td>
            <td>{{ item.created | dateToTimeAgo | titlecase }}</td>
          </tr>
        </ng-container>

        <!-- Car -->
        <ng-container *ngIf="options.type === 'car'">
          <tr class="pointer" *ngFor="let item of options.items">
            <td></td>
            <td [routerLink]="['/cars/one', item._id]">
              {{ item.name }}
            </td>
            <td>{{ item.driver.name }}</td>
            <td>{{ item.brand?.name }}</td>
            <td>{{ item.model }}</td>

            <td>
              <span
                class="badge"
                [ngClass]="{
                  'bg-dark': item.traction === 'Delantera',
                  'bg-warning': item.traction === 'Trasera',
                  'bg-info': item.traction === '4x4'
                }"
              >
                {{ item.traction }}</span
              >
            </td>
            <td>{{ item.cc }}</td>
            <td>{{ item.cv }}</td>
            <td>{{ item.year }}</td>
            <td>{{ item.inscriptions.length }}</td>
            <td>{{ item.updated | dateToTimeAgo | titlecase }}</td>
            <td>{{ item.created | dateToTimeAgo | titlecase }}</td>
          </tr>
        </ng-container>

        <!-- Image -->
        <ng-container *ngIf="options.type === 'image'">
          <tr class="pointer" *ngFor="let item of options.items">
            <td></td>
            <td [routerLink]="['/images/one', item._id]">
              {{ item.type === "car" ? "Coche" : "Torneo" }}
            </td>
            <td [routerLink]="['/tournaments/one', item.tournament._id]">
              {{ item[item.type].name }}
            </td>
            <td>{{ item.updated | dateToTimeAgo | titlecase }}</td>
            <td>{{ item.created | dateToTimeAgo | titlecase }}</td>
          </tr>
        </ng-container>

        <!-- Inscription -->
        <ng-container *ngIf="options.type === 'inscription'">
          <tr class="pointer" *ngFor="let item of options.items">
            <td></td>
            <td [routerLink]="['/cars/one', item.car._id]">
              {{ item.car.name }}
            </td>
            <td [routerLink]="['/tournaments/one', item.tournament._id]">
              {{ item.tournament.name }}
            </td>
            <td>{{ item.updated | dateToTimeAgo | titlecase }}</td>
            <td>{{ item.created | dateToTimeAgo | titlecase }}</td>
          </tr>
        </ng-container>

        <!-- Pairing -->
        <ng-container *ngIf="options.type === 'pairing'">
          <tr class="pointer" *ngFor="let item of options.items">
            <td [routerLink]="['/cars/one', item.car1?._id]">
              {{ item.car1?.name }}
            </td>
            <td [routerLink]="['/cars/one', item.car1?._id]">
              {{ item.car2?.name }}
            </td>
            <td [routerLink]="['/pairings/one', item._id]">
              {{ item.votes?.length }}
            </td>
            <td [routerLink]="['/tournaments/one', item.round.tournament._id]">
              {{ item.round?.tournament.name }}
            </td>
            <td [routerLink]="['/rounds/one', item.round._id]">
              {{ item.round?.name }}
            </td>
            <td>{{ item.created | dateToTimeAgo | titlecase }}</td>
          </tr>
        </ng-container>

        <!-- Round -->
        <ng-container *ngIf="options.type === 'round'">
          <tr class="pointer" *ngFor="let item of options.items">
            <td [routerLink]="['/rounds/one', item._id]">
              {{ item.name }}
            </td>
            <td>{{ item.participants }}</td>
            <td [routerLink]="['/tournaments/one', item.tournament._id]">
              {{ item.tournament.name }}
            </td>
            <td>{{ item.startDate | dateToTimeAgo | titlecase }}</td>
            <td>{{ item.endDate | dateToTimeAgo | titlecase }}</td>
            <td>
              <span
                class="badge"
                [ngClass]="{
                  'bg-danger': item.status === 'Canceled',
                  'bg-success': item.status === 'Completed',
                  'bg-primary': item.status === 'InProgress',
                  'bg-warning': item.status === 'Todo'
                }"
              >
                {{ item.status | status }}
              </span>
            </td>
            <td>{{ item.created | dateToTimeAgo | titlecase }}</td>
          </tr>
        </ng-container>

        <!-- Tournament -->
        <ng-container *ngIf="options.type === 'tournament'">
          <tr class="pointer" *ngFor="let item of options.items">
            <td></td>
            <td [routerLink]="['/tournaments/one', item._id]">
              {{ item.name }}
            </td>
            <td>{{ item.startDate | dateToTimeAgo | titlecase }}</td>
            <td>
              {{ item.inscriptions?.length }} / {{ item.maxParticipants }}
            </td>
            <td>{{ item.rounds?.length }}</td>
            <td>{{ item.requisites.length }}</td>
            <td>
              <span
                class="badge"
                [ngClass]="{
                  'bg-danger': item.status === 'Canceled',
                  'bg-success': item.status === 'Completed',
                  'bg-primary': item.status === 'InProgress',
                  'bg-warning': item.status === 'Todo'
                }"
              >
                {{ item.status | status }}
              </span>
            </td>

            <td>{{ item.updated | dateToTimeAgo | titlecase }}</td>
            <td>{{ item.created | dateToTimeAgo | titlecase }}</td>
          </tr>
        </ng-container>

        <!-- User -->
        <ng-container *ngIf="options.type === 'user'">
          <tr class="pointer" *ngFor="let item of options.items">
            <td [routerLink]="['/users/one', item._id]">
              {{ item.name }}
            </td>
            <td>{{ item.email }}</td>
            <td>{{ item.role }}</td>
            <td>{{ item.cars.length }}</td>
            <td>{{ item.updated | dateToTimeAgo | titlecase }}</td>
            <td>{{ item.created | dateToTimeAgo | titlecase }}</td>
          </tr>
        </ng-container>

        <!-- Vote -->
        <ng-container *ngIf="options.type === 'vote'">
          <tr class="pointer" *ngFor="let item of options.items">
            <td
              [routerLink]="[
                '/tournaments/one',
                item.pairing.round.tournament._id
              ]"
            >
              {{ item.pairing.round.tournament.name }}
            </td>
            <td [routerLink]="['/pairings/one', item.pairing.round._id]">
              {{ item.pairing.round.name }}
            </td>
            <td [routerLink]="['/cars/one', item.car._id]">
              {{ item.car.name }}
            </td>

            <td [routerLink]="['/votes/one', item._id]">
              {{ item.created | dateToTimeAgo | titlecase }}
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
  <div *ngIf="options.items.length === 0" class="alert alert-warning">
    No hay elementos disponibles
  </div>
  <div class="text-center mb-3">
    <button
      class="btn btn-primary w-100"
      *ngIf="options.showLoadMore && options.items.length > 9"
      (click)="changePage.emit()"
    >
      Cargar mas
    </button>
  </div>
</div>
