.image-rounded-background {
  height: 25px;
  width: 25px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 100%;
}
