<div class="mat-card-wrapper p-x-8 p-b-0">
    <div fxLayout="row wrap" class="matero-row">
        <mat-card
            fxFlex.gt-sm
            fxFlex
            class="matero-col item {{ item.bg }} {{
                item.text
            }} mat-elevation-z4"
            *ngFor="let item of items; let i = index"
            [ngClass]="{
                'border-right': i !== items.length - 1,
                'm-r-8': i !== items.length - 1
            }"
            [routerLink]="[item.link]"
        >
            <h2 class="">{{ item.total }}</h2>
            <p class="m-t--16">{{ item.name }}</p>
        </mat-card>
    </div>
</div>
