<mtx-grid
    style="cursor: pointer"
    [data]="options.items!"
    [columns]="options.columns!"
    [loading]="options.loading!"
    [columnResizable]="options.columnResizable!"
    [rowHover]="options.rowHover!"
    [rowStriped]="options.rowStriped!"
    [showToolbar]="options.showToolbar!"
    [toolbarTitle]="options.toolbarTitle!"
    [columnHideable]="options.columnHideable!"
    [pageOnFront]="options.showPaginator!"
    [showPaginator]="options.showPaginator!"
    [pageSizeOptions]="options.pageSizeOptions!"
    [pageIndex]="options.pageIndex!"
    [pageSize]="options.pageSize!"
    [columnHideable]="options.columnHideable!"
    (rowClick)="options.dialog ? openDialog($event) : rowClick.emit($event)"
    [showSummary]="options.showSummary!"
    [showStatusbar]="options.showStatusbar!"
    [noResultTemplate]="noResultsTpl"
>
</mtx-grid>
<ng-template #expansionTpl let-row>
    {{ row.name }}
</ng-template>

<ng-template #noResultsTpl let-col>
    <div class="no-results-tpl">
        <img src="./assets/images/logo.png" alt="CarsTournaments" />
        <p>Sin resultados</p>
    </div>
</ng-template>

<br />
<button
    mat-raised-button
    class="bg-red-800 text-white w-full"
    *ngIf="options.showLoadMore && options.items.length > 19"
    (click)="changePage.emit()"
>
    Cargar mas
</button>
