<div class="container">
    <page-header [title]="vm.title"></page-header>

    <mat-card class="mat-card-wrapper">
        <mat-tab-group>
            <mat-tab label="Info">
                <tournament-one-edit
                    *ngIf="vm.item"
                    [item]="vm.item"
                    [disabledItems]="vm.disabledItems"
                    [edit]="vm.edit"
                    [requisiteSelected]="vm.requisiteSelected"
                    [requisitesDefault]="vm.requisitesDefault"
                    [dateTime]="{
                        startDate: vm.startDate,
                        endDate: vm.endDate,
                        startTime: vm.startTime,
                        endTime: vm.endTime
                    }"
                ></tournament-one-edit>
            </mat-tab>

            <mat-tab label="Opciones">
                <div fxLayout="row wrap" class="matero-row">
                    <div [fxFlex.gt-sm]="70" [fxFlex]="100" class="matero-col">
                        <options-list
                            [options]="vm.options"
                            (action)="actionForOption($event)"
                        ></options-list>
                        <!-- [item]="vm.item" -->
                    </div>
                    <div [fxFlex.gt-sm]="30" [fxFlex]="100" class="matero-col">
                        <mat-card-subtitle>Estadisticas</mat-card-subtitle>
                        <!-- <chart-bar *ngIf="!vm.optionsChart.loading" [data]="vm.optionsChart"></chart-bar> -->
                        <circle-progress
                            *ngIf="vm.inscriptionsPercentage"
                            [percent]="vm.inscriptionsPercentage!"
                            [radius]="100"
                            [outerStrokeWidth]="20"
                            [innerStrokeWidth]="20"
                            [outerStrokeColor]="'#CC0000'"
                            [innerStrokeColor]="'#000'"
                            [animation]="true"
                            [animationDuration]="300"
                            [showTitle]="true"
                            [title]="vm.item.inscriptions.length +'/'+vm.item.maxParticipants"
                            subtitleFontSize="20"
                            subtitle="Participantes"
                            units=""
                        >
                        </circle-progress>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Imagen">
                <add-image
                    [id]="vm.id"
                    [image]="vm.item.image"
                    [type]="'tournament'"
                ></add-image>
            </mat-tab>

            <mat-tab label="Inscripciones">
                <custom-table
                    (rowClick)="onRowClickInscription($event)"
                    [options]="vm.inscriptionsOptionsTable"
                >
                </custom-table>
            </mat-tab>

            <mat-tab label="Rondas">
                <custom-table [options]="vm.roundsOptionsTable"></custom-table>
            </mat-tab>

            <mat-tab label="Emparejamientos">
                <custom-table
                    [options]="vm.pairingsOptionsTable"
                ></custom-table>
            </mat-tab>

            <mat-tab label="Votos">
                <custom-table [options]="vm.votesOptionsTable"></custom-table>
            </mat-tab>

            <mat-tab label="Ganadores">
                <custom-table [options]="vm.winnersOptionsTable"></custom-table>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
