<div class="container">
    <page-header [title]="vm.title"></page-header>

    <mat-card class="mat-card-wrapper">
        <mat-tab-group>
            <mat-tab label="Info">
                <tournament-one-status
                    [status]="vm.item.status!"
                ></tournament-one-status>
                <tournament-one-edit
                    *ngIf="vm.item"
                    [item]="vm.item"
                    [disabledItems]="vm.disabledItems"
                    [edit]="vm.edit"
                    [requisiteSelected]="vm.requisiteSelected"
                    [requisitesDefault]="vm.requisitesDefault"
                    [dateTime]="{
                        startDate: vm.startDate,
                        endDate: vm.endDate,
                        startTime: vm.startTime,
                        endTime: vm.endTime
                    }"
                ></tournament-one-edit>
            </mat-tab>

            <mat-tab label="Opciones">
                <tournament-one-status
                    [status]="vm.item.status!"
                ></tournament-one-status>
                <div fxLayout="row wrap" class="matero-row">
                    <div
                        [fxFlex.gt-sm]="vm.item.inscriptions.length > 0 ? 70 : 100"
                        [fxFlex]="100"
                        class="matero-col"
                    >
                        <options-list
                            [options]="vm.options"
                            (action)="actionForOption($event)"
                        ></options-list>
                        <!-- [item]="vm.item" -->
                    </div>
                    <div
                        *ngIf="vm.item.inscriptions.length > 0"
                        [fxFlex.gt-sm]="30"
                        [fxFlex]="100"
                        class="matero-col text-center"
                    >
                        <circle-progress
                            *ngIf="vm.inscriptionsPercentage"
                            [percent]="vm.inscriptionsPercentage!"
                            [radius]="100"
                            [outerStrokeWidth]="20"
                            [innerStrokeWidth]="20"
                            [outerStrokeColor]="'#CC0000'"
                            [innerStrokeColor]="'#000'"
                            [animation]="true"
                            [animationDuration]="300"
                            [showTitle]="true"
                            [title]="vm.item.inscriptions.length +'/'+vm.item.maxParticipants"
                            subtitleFontSize="20"
                            subtitle="Participantes"
                            units=""
                        >
                        </circle-progress>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Imagen">
                <add-image
                    [id]="vm.id"
                    [image]="vm.item.image"
                    [type]="'tournament'"
                ></add-image>
            </mat-tab>

            <mat-tab
                label="Inscripciones"
                *ngIf="vm.inscriptionsOptionsTable.items.length > 0"
            >
                <custom-table
                    (rowClick)="onRowClickInscription($event)"
                    [options]="vm.inscriptionsOptionsTable"
                >
                </custom-table>
            </mat-tab>

            <mat-tab
                label="Rondas"
                *ngIf="vm.roundsOptionsTable.items.length > 0"
            >
                <custom-table [options]="vm.roundsOptionsTable"></custom-table>
            </mat-tab>

            <mat-tab
                label="Emparejamientos"
                *ngIf="vm.pairingsOptionsTable.items.length > 0"
            >
                <custom-table
                    [options]="vm.pairingsOptionsTable"
                    (rowClick)="onRowClickPairing($event)"
                ></custom-table>
            </mat-tab>

            <mat-tab
                label="Votos"
                *ngIf="vm.votesOptionsTable.items.length > 0"
            >
                <custom-table [options]="vm.votesOptionsTable"></custom-table>
            </mat-tab>

            <mat-tab
                label="Ganadores"
                *ngIf="vm.winnersOptionsTable.items.length > 0"
            >
                <custom-table [options]="vm.winnersOptionsTable"></custom-table>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
