<div class="container">
    <page-header [title]="vm.title"></page-header>
    <div class="box-white">
        <mat-tab-group>
            <mat-tab label="Info">
                <car-one-edit
                    [item]="vm.item"
                    [users]="vm.users"
                    [brands]="vm.brands"
                    [stock]="vm.stock"
                    [brandIdSelected]="vm.brandIdSelected"
                    [userIdSelected]="vm.userIdSelected"
                    (submit)="onSubmit()"
                >
                </car-one-edit>
            </mat-tab>

            <mat-tab label="Opciones">
                <options-list
                    [options]="vm.options"
                    [item]="vm.item"
                    (action)="actionForOption($event)"
                ></options-list>
            </mat-tab>

            <mat-tab label="Imagen">
                <add-image
                    [id]="vm.id"
                    [image]="vm.item.image!"
                    [type]="'car'"
                ></add-image>
            </mat-tab>

            <mat-tab label="Inscripciones">
                <custom-table2
                    [options]="vm.inscriptionsOptionsTable"
                ></custom-table2>
            </mat-tab>

            <mat-tab label="Nueva inscripcion">
                <add-inscription
                    [carId]="vm.id"
                    (onInscription)="onInscription()"
                ></add-inscription>
            </mat-tab>

            <mat-tab label="Votos">
                <custom-table2 [options]="vm.votesOptionsTable"></custom-table2>
            </mat-tab>

            <mat-tab label="Torneos ganados">
                <custom-table2
                    [options]="vm.winnersOptionsTable"
                ></custom-table2>
            </mat-tab>

            <mat-tab label="Likes recibidos">
                <custom-table2
                    [options]="vm.likesReceivedOptionsTable"
                ></custom-table2>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
