.nav-tabs.notika-menu-wrap{
	border-bottom: 0px solid #ddd;
}
.nav-tabs.notika-menu-wrap>li.active>a, .nav-tabs.notika-menu-wrap>li.active>a:focus, .nav-tabs.notika-menu-wrap>li.active>a:hover{
	border: 0px solid #ddd;
	border:none;
}
.notika-tab-menu-bg{
	position:relative;
}
.notika-tab-menu-bg:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #fff;
    content: "";
    z-index: 9;
    height: 100%;
}
.custom-menu-content ul.notika-main-menu-dropdown {
    position: relative;
    z-index: 99;
}
ul.notika-menu-wrap li a{
	font-size: 15px;
    color: #333;
    padding: 15px 25px;
	border:none;
}
.custom-menu-content ul.notika-main-menu-dropdown li{
	display:inline-block;
}
.custom-menu-content ul.notika-main-menu-dropdown li a {
    padding: 20px 20px;
    display: block;
	font-size:14px;
	color:#333;
    cursor: pointer;
}
.custom-menu-content ul.notika-main-menu-dropdown li ul.layout-more-dp{
	position: absolute;
    z-index: 999;
    width: 200px;
    left: -20px;
    border: none;
    border-radius: 0px;
}
.custom-menu-content ul.notika-main-menu-dropdown li ul.layout-more-dp li a{
	font-size: 14px;
    color: #333;
    padding: 10px 20px;
    cursor: pointer;
}
.animated{
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:none!important;
	animation-fill-mode:none!important
}
.mg-t-80-b-40{
	margin:102px 0px 40px 0px;
}
.mean-container .mean-nav ul li a {
    cursor: pointer;
    color: #333;
}
.mean-container .mean-nav ul li a:hover {
    color: #00c292;
}
.box-layout .header-top-area {
		width: 1200px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.subitem-active {
    font-weight: 700;
}