<div class="main-menu-area mt-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4">
        <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
          <li *ngFor="let item of vm.items; let i = index" [ngClass]="{'active': itemSelected === i}"
            (click)="itemSelected = i">
            <a class="pointer">
              <i class="notika-icon fa" [ngClass]="item.icon"></i>{{ item.name }}
            </a>
          </li>

        </ul>


        <div class="tab-content custom-menu-content mt-2">
          <ng-container *ngFor="let category of vm.items; let i = index">
            <div *ngIf="itemSelected === i" id="Home" class="tab-pane in active notika-tab-menu-bg animated flipInX">
              <ul class="notika-main-menu-dropdown">
                <li *ngFor="let subitem of category.subitems">
                  <a [routerLink]="[subitem.link]" routerLinkActive="subitem-active">{{ subitem.name }} </a>
                </li>
              </ul>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>