<ng-container *ngIf="image">
    <div fxLayout="row wrap" class="matero-row">
        <div [fxFlex.gt-sm]="25" [fxFlex]="100" class="matero-col">
            <img
                *ngIf="image"
                [src]="image.url! | image"
                class="img mt-3"
                (click)="onClickImage(image)"
                alt="image"
            />
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!image && images && images.length > 0">
    <div fxLayout="row wrap" class="matero-row">
        <div
            [fxFlex.gt-sm]="25"
            [fxFlex]="100"
            class="matero-col"
            *ngFor="let img of sortBy('position')"
        >
            <img
                (click)="onClickImage(img)"
                *ngIf="img"
                [src]="img.url! | image"
                class="img mt-3"
                alt="image"
            />
        </div>
    </div>
</ng-container>

<button
    mat-raised-button
    color="primary"
    class="w-full m-t-8"
    (click)="fileInput.click()"
>
    Subir nueva imagen
</button>
<input hidden (change)="processFile($event)" #fileInput type="file" id="file" />
