<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-9">
                <div class="form-floating">
                    <input class="form-control" name="name" [(ngModel)]="vm.tournamentName" (keypress)="searchTournament($event)" placeholder="Nombre" required />
                    <label for="floatingInput" class="form-label">Introduce torneo</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-floating">
                    <button [disabled]="vm.disabledButton" class="btn btn-lg btn-primary w-100" (click)="createInscription()">
                        Inscribirse
                    </button>
                </div>
        </div>
        
    </div>
</div>