<div class="mt-3 g-3" *ngIf="item">
    <mat-grid-list cols="2" rowHeight="65px" gutterSize="5px">
        <form>
            <mat-grid-tile colspan="1">
                <mat-form-field class="input-full-width" appearance="fill">
                    <mat-label>Usuario</mat-label>
                    <mat-select
                        [(value)]="userIdSelected"
                        placeholder="Selecciona"
                    >
                        <mat-option
                            *ngFor="let user of users"
                            [value]="user._id"
                        >
                            {{ user.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="1">
                <mat-form-field class="input-full-width" appearance="fill">
                    <mat-label>Marca</mat-label>
                    <mat-select
                        [(value)]="brandIdSelected"
                        placeholder="Selecciona"
                    >
                        <mat-option
                            *ngFor="let brand of brands"
                            [value]="brand._id"
                        >
                            {{ brand.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="input-full-width" appearance="fill">
                    <mat-label>Modelo</mat-label>
                    <input
                        matInput
                        name="model"
                        [(ngModel)]="item.model"
                        placeholder="Introduce el modelo"
                    />
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="input-full-width" appearance="fill">
                    <mat-label>Combustible</mat-label>
                    <mat-select [(value)]="item.fuel" placeholder="Selecciona">
                        <mat-option value="Gasolina">Gasolina</mat-option>
                        <mat-option value="Diesel">Diesel</mat-option>
                        <mat-option value="Hibrido">Hibrido</mat-option>
                        <mat-option value="Diesel">Diesel</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="input-full-width" appearance="fill">
                    <mat-label>Traccion</mat-label>
                    <mat-select
                        [(value)]="item.traction"
                        placeholder="Selecciona"
                    >
                        <mat-option value="Delantera">Delantera</mat-option>
                        <mat-option value="Trasera">Trasera</mat-option>
                        <mat-option value="4x4">4x4</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="input-full-width" appearance="fill">
                    <mat-label>CC</mat-label>
                    <input
                        matInput
                        name="cc"
                        [(ngModel)]="item.cc"
                        placeholder="Introduce los CC"
                    />
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="input-full-width" appearance="fill">
                    <mat-label>CV</mat-label>
                    <input
                        matInput
                        name="cv"
                        [(ngModel)]="item.cv"
                        placeholder="Introduce los CV"
                    />
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="input-full-width" appearance="fill">
                    <mat-label>De serie</mat-label>
                    <mat-select [(value)]="stock" placeholder="Selecciona">
                        <mat-option [value]="true">Si</mat-option>
                        <mat-option [value]="false">No</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="input-full-width" appearance="fill">
                    <mat-label>Año</mat-label>
                    <input
                        matInput
                        type="number"
                        name="year"
                        [(ngModel)]="item.year"
                        placeholder="Introduce el año"
                    />
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="2">
                <mat-form-field class="input-full-width" appearance="fill">
                    <mat-label>Info</mat-label>
                    <textarea
                        matInput
                        name="name"
                        [(ngModel)]="item.info"
                        placeholder="Introduce la informacion del coche"
                    ></textarea>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile colspan="2">
                <button
                    mat-raised-button
                    color="primary"
                    class="button-100"
                    (click)="submit.emit()"
                >
                    Guardar
                </button>
            </mat-grid-tile>
        </form>
    </mat-grid-list>
</div>
