<div class="matero-search-bar">
    <div class="matero-search-bar-inner">
        <mat-form-field class="matero-search-field w-full">
            <input
                matInput
                (keyup)="onKeyUpSearch($event)"
                [(ngModel)]="search"
                placeholder="Buscar"
            />
            <button
                mat-button
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="search = ''"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>
