<div class="container">
    <page-header [title]="vm.title"></page-header>

    <mat-card class="mat-card-wrapper">
        <mat-tab-group>
            <mat-tab label="Listado">
                <custom-table2
                    [options]="vm.optionsTable"
                    (changePage)="onChangePage()"
                    (rowClick)="onRowClick($event)"
                >
                </custom-table2>
            </mat-tab>

            <mat-tab label="Opciones">
                <options-list
                    [options]="vm.options"
                    (action)="actionForOption($event)"
                ></options-list>
            </mat-tab>

            <mat-tab label="Nuevo">
                <car-one-edit></car-one-edit>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
